main {
    text-align: center;
}


#calculator {
    margin: 0rem auto;
    margin-bottom: 2rem;
    width: 15rem;
    height: 21rem;
    border: 0.2rem solid;
    /*background-image: url("../materials/calculatorBackground.jpg");*/
    /*background-size: cover;*/
    background-color: rgb(40, 39, 39);
}

#output {
    height: 3rem;
    width: 11rem;
    border: 0.1rem black solid;
    margin: 1rem auto;
    padding: 0;
    background: rgba(30, 127, 0, 0.8);
    line-height: 3rem;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0rem;
}

.button {
    border: 0.1rem black solid;
    width: 3rem;
    height: 2rem;
    margin: 0.5rem auto;
    background: gray;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 700;
}

.button:hover {
    background: rgb(182, 185, 182);
}